
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: #f5f5f5;
 margin: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-image: url(Influencers\ Page.jpg);
 background-repeat:no-repeat ;
 background-position:center;
 background-size: cover;
}

.container {
 background-color: #fff;
 border-radius: 10px;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 text-align: center;
 padding: 30px;
 width: 350px;
 max-width: 400px;
}

.tabs {
 display: flex;
 justify-content: center;
 margin-bottom: 20px;
}

.tablink {
 background-color: transparent;
 border: none;
 cursor: pointer;
 padding: 10px 20px;
 font-size: 18px;
 color: #555;
 transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tablink:hover {
 background-color: #007BFF;
 color: #fff;
 border-radius: 10px;
}


.tabcontent {
 display: none;
}

h2 {
 margin-top: 0;
 color: #333;
}

form {
 margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"] {
 display: block;
 width: 100%;
 padding: 10px;
 margin: 10px 0;
 font-size: 16px;
 border: 1px solid #ccc;
 border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
button[type="submit"]:focus {
 outline: none;
 border-color: #007BFF;
 box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="submit"] {
 background-color: #007BFF;
 color: #fff;
 cursor: pointer;
 transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button[type="submit"]:hover {
 background-color: #0056b3;
}

p {
 margin-top: 10px;
 color: #333;
 font-size: 14px;
}

a {
 color: #007BFF;
 text-decoration: none;
 font-weight: bold;
 transition: color 0.3s ease-in-out;
}

a:hover {
 color: #0056b3;
}
